.generateButton {
    background: linear-gradient(145deg, #ffd700, #ffa500);
    border: 1px solid transparent;
    border-radius: 0.9em;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2), -6px -6px 12px rgba(255, 255, 255, 0.7);
    color: #1c1cc4;
    font-size: 1.2em;
    font-weight: bold;
    /* padding: 0.5em; */
    text-align: center;
    transition: all 0.1s ease-in-out;
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.generateButton:hover {
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.7);
}

.generateButton:active {
	box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.7);
	transform: translateY(1px);
}